# Uncomment the line below and set the URL of your backend API if it's not running on http://localhost:3001
# VITE_API_BASE_URL="URL of your backend API, defaults to http://localhost:3001"
VITE_CLIENT_ID="Your Google OAuth Client ID, e.g., 1234567890-abcdefg.apps.googleusercontent.com"
VITE_APP_ID="Your Google OAuth App ID, e.g., 1234567890 - also known as the project number in the Google Cloud Console"