# Uncomment the line below and define a port
# PORT=3001
GOOGLE_CLIENT_ID="get from https://console.cloud.google.com/"
GOOGLE_CLIENT_SECRET="get from https://console.cloud.google.com/"
JWT_SECRET="any random string, recommendation: openssl rand -base64 32"
# Refer to db/config.ts for MongoDB connection rules
# NODE_ENVIRONMENT=development
# MONGODB_URI=Your MongoDB Connection String