# PORT=Default is 3001
GOOGLE_CLIENT_ID="get from https://console.cloud.google.com/"
GOOGLE_CLIENT_SECRET="get from https://console.cloud.google.com/"
# GOOGLE_CALLBACK_URI= Default is http://localhost:3001/auth/google/callback
JWT_SECRET="any random string, recommendation: openssl rand -base64 32"
# MONGODB_URI=Your MongoDB Connection String | Default is mongodb://127.0.0.1:27017/google_oauth_app

